body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.brand-logo {
  width: 100px;
  height: 100px;
  position: relative;
  top: -15px;
}
/* @media (max-width: 200px){
  .brand-logo{background-color: aqua}
} */

@media screen and (max-width: 670px) {
  .brand-logo {
    position: absolute;
    top: -22px;
  }
}

.mouse {
  padding-top: 150px;
  background: url(../src/images/girlcross.jpg);
  /* width: 100%;
  min-height: 100px; */
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
@media screen and (max-width: 670px) {
  .mouse {
    margin: 10px;
  }
}


html, body {
  max-width: 100%;
  overflow-x:hidden ;
}

figure img {
  width: 300px;
  height:300px;
  border-radius: 50%;
  justify-content: center;
  
}
@media screen and (max-width: 400px) {
  figure img {
  position: relative;
  left: 160px;
  }
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialicons {
  margin: 10px;
}

/* centres styling */

.searchInput {
  width: 100%;
  border-radius: 5px;
}
.searchInput :focus {
  border: 3px solid #da1010;
}
.search {
  margin-top: 30px  ;
}
