body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.brand-logo {
  width: 100px;
  height: 100px;
  position: relative;
  top: -15px;
}
/* @media (max-width: 200px){
  .brand-logo{background-color: aqua}
} */

@media screen and (max-width: 670px) {
  .brand-logo {
    position: absolute;
    top: -22px;
  }
}

.mouse {
  padding-top: 150px;
  background: url(../src/images/girlcross.jpg);
  /* width: 100%;
  min-height: 100px; */
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
@media screen and (max-width: 670px) {
  .mouse {
    margin: 10px;
  }
}


html, body {
  max-width: 100%;
  overflow-x:hidden ;
}

figure img {
  width: 300px;
  height:300px;
  border-radius: 50%;
  justify-content: center;
  
}
@media screen and (max-width: 400px) {
  figure img {
  position: relative;
  left: 160px;
  }
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialicons {
  margin: 10px;
}

.head {
  width: 100%;
  height: 200px;
  background: rgb(216, 212, 212);
  margin: 0;
  padding: 0;
  font-size: 25px;
  
}

p {
  height: 50px;
  width: 30%;
}

.check {
  height: 50px;
  width: 30%;
  background: rgb(223, 219, 219);
  font-size: 15px;
  padding-left: 1em;
}


.flee {
  height: 200px;
  font-size: 20px;
  background: rgb(93, 167, 252);
  color: white;
  padding-left: 2em;
  padding-top: 3em;
  padding-right: 2em;
  padding-bottom: 5em;  
  
}

.centres {
  height: 200px;
  font-size: 25px;
  background: rgb(223, 219, 215);
  text-align: center;
  padding-top: 5em;
  
}

.list {
  margin-left: 5em;
  font-size: 20px;

}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.btn::before {
  transform: rotate(55deg) skewX(20deg) translateZ(0);
  z-index: -1;
}
.btn::after {
  transform: translateZ(0);
  z-index: -1;
}